.farmer-login-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}


/* Left column styling*/
.farmer-login-left{
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.farmer-login-left h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

.farmer-login-left p{
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: "Inter", sans-serif;
}


/* form styling */
.farmer-login-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.farmer-passwd-input input{
    width: 100%;
    margin-bottom: 0.5rem;
    font-family: "Inter", sans-serif;
}


.farmer-passwd-input a{  /* forgot password */
    display: block;
    text-align: end;
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: 800;
}

.farmer-login-form input{
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 0.9rem;
    background: transparent;
    transition: border-color 0.3s ease;
}

.farmer-login-form input:focus{
    outline: none;
    border-color: #344D0C;
}

.farmer-login-form input[type="submit"] {
    margin-top: 1rem;
    background: #344D0C;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: "Inter", sans-serif;
}


/* Link Styling */
.farmer-login-left .farmer-already {
    text-align: center;
    margin-top: 2rem;
    color: #666;
    text-decoration: none;
}

.farmer-login-left .farmer-already span {
    color: #344D0C;
    font-weight: 600;
    text-decoration: underline;
}


/* right column styling */
.farmer-login-right{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.farmer-login-right::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    z-index: 1;
}

.farmer-login-right h1{
    z-index: 2;
    color: #fff;
    font-family: "Italiana",sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.farmer-login-right img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/* responsive design */
@media (max-width: 768px){
    .farmer-login-container{
        grid-template-columns: 1fr
    }
    
    .farmer-login-right{
        height: 70vh
    }
}

@media only screen and (max-width: 625px){
    .farmer-login-container{
        grid-template-columns: 1fr
    }

    .farmer-login-right{
        height: 70vh;
    }
}