/* NAV CONTAINER */
.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding: 2rem 2rem;
    background: white;
    gap: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.nav-container h1 {
    font-family: "Italiana", serif;
    color: #344D0C;
    font-size: 2rem;
    font-weight: 100;
}

/* NAV LINKS */
.nav-links {
    display: flex;  /* Use flex for inline navigation */
    gap: 1rem;
    justify-content: flex-end;
}

/* Remove default list styles */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

/* Styling Links */
.nav-links a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.nav-links a:hover {
    color: #6a8f3c;
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.nav-links a.active{
    color: #6a8f3c;
}


/* HAMBURGER MENU */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background: #344D0C;
    margin: 4px 0;
    transition: 0.3s;
}

.sign-up-btn{
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
    border-style: none;
    background-color: #344D0C;
    color: #fff;
    font-size: 0.9rem;
}

/* MOBILE NAVIGATION */
@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .nav-container {
        background-color: #fff;  /* This is where the background color is applied */
        z-index: 999;
    
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-links a {
        font-size: 1.2rem;
        box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        /* background-color: #ffff; */
        padding: 10px;
    }

}


@media (max-width: 500px) {
    .nav-container {
        padding: 1rem;
    }

    .nav-container h1 {
        font-size: 1.5rem;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .sign-up-btn {
        padding: 0.2rem 0.2rem;
    }
}
