@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  background-color: #fff;
  animation: appear linear; 
}
button{
  font-family: "Inter", sans-serif;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
  
}

